@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  display: block;
  height: 600px;
  z-index: 0;
}
div {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
  text-align: center;
}
